<div class="container">
    <div class="row">
        <div class="col-4 offset-8 mb-4"><input [(ngModel)]="phrase" type="text" class="form-control" placeholder="Click here to search..."></div>
    </div>
<div class="row">
    <div class="col-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th (click)="sortbyID()" style="text-decoration: underline">ID</th>
                    <th (click)="sortbyName()" style="text-decoration: underline">Name</th>
                    <th (click)="sortbySuperPower()" style="text-decoration: underline">SuperPower</th>
                    <th (click)="sortbyAddress()" style="text-decoration: underline">Address</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of herolist | filter:'name':phrase | sorter:order">
                    <td>{{i.id}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.superPower}}</td>
                    <td>{{i.address}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>